<div id="idDiv">
    <form action="" class="formulario_categoria" id="formulario_categoria">
        <div class="grupo" id="grupo_categoria">
            <div class="categoria-tipo">
                <h5>TIPO</h5>
            </div>
            <div class="formulario_grupo-radio-nuevo">
                <input class="class-input-categoria" type="checkbox" value="" id="defaultCheck1">
                <label for="" class="label-categoria">
                    Nueva
                </label>
            </div>
            <div class="categoria-categoria">
                <h5>CATEGORIA</h5>
            </div>
            <div class="formulario_grupo-radio-nuevo">
                <input class="class-input-categoria" type="checkbox" value="" id="defaultCheck1">
                <label for="" class="label-categoria">
                    Economica
                </label>
            </div>
            <hr class="hr1">
            <div class="formulario_grupo-radio-nuevo">
                <input class="class-input-categoria" type="checkbox" value="" id="defaultCheck1">
                <label for="" class="label-categoria">
                    Premium
                </label>
            </div>
            <hr class="hr1">
            <div class="formulario_grupo-radio-nuevo">
                <input class="class-input-categoria" type="checkbox" value="" id="defaultCheck1">
                <label for="" class="label-categoria">
                    Standar
                </label>
            </div>
            <div class="categoria-categoria">
                <h5>MARCA</h5>
            </div>
            <div class="formulario_grupo-radio-nuevo">
                <input class="class-input-categoria" type="checkbox" value="" id="defaultCheck1">
                <label for="" class="label-categoria">
                    Aurora
                </label>
            </div>
            <hr class="hr1">
            <div class="formulario_grupo-radio-nuevo">
                <input class="class-input-categoria" type="checkbox" value="" id="defaultCheck1">
                <label for="" class="label-categoria">
                    Bridgestone
                </label>
            </div>
            <hr class="hr1">
            <div class="formulario_grupo-radio-nuevo">
                <input class="class-input-categoria" type="checkbox" value="" id="defaultCheck1">
                <label for="" class="label-categoria">
                    Goodyear
                </label>
            </div>
            <hr class="hr1">
            <div class="formulario_grupo-radio-nuevo">
                <input class="class-input-categoria" type="checkbox" value="" id="defaultCheck1">
                <label for="" class="label-categoria">
                    Laufenn
                </label>
            </div>
            <hr class="hr1">
            <div class="formulario_grupo-radio-nuevo">
                <input class="class-input-categoria" type="checkbox" value="" id="defaultCheck1">
                <label for="" class="label-categoria">
                    Pirelli
                </label>
            </div>
            <hr class="hr1">
            <div class="formulario_grupo-radio-nuevo">
                <input class="class-input-categoria" type="checkbox" value="" id="defaultCheck1">
                <label for="" class="label-categoria">
                    Steelmark
                </label>
            </div>
            <hr class="hr1">
            <div class="formulario_grupo-radio-nuevo">
                <input class="class-input-categoria" type="checkbox" value="" id="defaultCheck1">
                <label for="" class="label-categoria">
                    Wind Power
                </label>
            </div>
            <div class="categoria-categoria">
                <h5>VEHICULO</h5>
            </div>
            <div class="formulario_grupo-radio-nuevo">
                <input class="class-input-categoria" type="checkbox" value="" id="defaultCheck1">
                <label for="" class="label-categoria">
                    Camion Liviano
                </label>
            </div>
            <hr class="hr1">
            <div class="formulario_grupo-radio-nuevo">
                <input class="class-input-categoria" type="checkbox" value="" id="defaultCheck1">
                <label for="" class="label-categoria">
                    Camion Pesado
                </label>
            </div>
            <div class="categoria-categoria">
                <h5>EJE</h5>
            </div>
            <div class="formulario_grupo-radio-nuevo">
                <input class="class-input-categoria" type="checkbox" value="" id="defaultCheck1">
                <label for="" class="label-categoria">
                    Direccional
                </label>
            </div>
            <hr class="hr1">
            <div class="formulario_grupo-radio-nuevo">
                <input class="class-input-categoria" type="checkbox" value="" id="defaultCheck1">
                <label for="" class="label-categoria">
                    Mixto
                </label>
            </div>
            <hr class="hr1">
            <div class="formulario_grupo-radio-nuevo">
                <input class="class-input-categoria" type="checkbox" value="" id="defaultCheck1">
                <label for="" class="label-categoria">
                    Tracción
                </label>
            </div>
        </div>
    </form>
</div>