<div class="grupo card">
    <div class="marca-producto-laufenn">
        <img class="card-img-laufenn" src="../../../../../assets/img/Tienda/Logos/LAUFENN.png" alt="Card image cap"><br>
        <span class="span">LZ22</span><br>
        <span class="span1">9.5R17.5</span>
    </div>
    <img class="card-img-top" src="../../../../../assets/img/Tienda/Imagen_productos/Laufenn/LLANTA_LAUFENN_1.png" alt="Card image cap">
    <br>
    <div class="precio-unidad">
        <span class="unity-price">Precio unidad</span><br>
        <span class="unity-price1">$637.000</span><br>
    </div>
</div>