<div class="grupo card">
    <div class="marca-producto-pirelli">
        <img class="card-img-pirelli" src="../../../../../assets/img/Tienda/PIRELLI.png" alt="Card image cap"><br>
        <span class="span">TG01</span><br>
        <span class="span1">295/80R22.5</span>
    </div>
    <img class="card-img-top" src="../../../../../assets/img/Tienda/LLANTA_PIRELLI_1.png" alt="Card image cap">
    <br>
    <div class="precio-unidad">
        <span class="unity-price">Precio unidad</span><br>
        <span class="unity-price1">$1.525.000</span><br>
    </div>
</div>