<div class="container">
          <section class="row">
              <article class="col-xs-12 col-md-12 col-lg-12 col-lg-12 col-xl-12 ImageBack">
                  <div class="textSobreImg">
                      <p align="justify">
                        Estamos conscientes del impacto ambiental que genera la 
                        mala disposición final de las llantas, es por ello que 
                        contamos con la alianza de sistema verde, quien cuenta con 
                        la licencia avalada por el ministerio del medio ambiente, 
                        para dar el manejo adecuado y aprovechamiento de los componentes 
                        de la llanta y sus derivados.
                                                
                        Nuestro personal operativo, técnico y comercial, cuenta con la capacidad
                        de asesorar, acompañar y satisfacer, las demandas del mercado actual de
                        nuestros clientes en materia de reencauche de llantas y llanta nueva. 
                        
                      </p>
                      <p style="margin-top:25px" align="justify">
      
                        Las llantas reencauchadas que cumplen con el Reglamento Técnico 
                        expedido por el Ministerio de Comercio, Industria y Turismo pueden 
                        ser utilizadas en las mismas condiciones de una llanta nueva, su uso 
                        contribuye a la preservación del medio ambiente y genera ahorros en 
                        los gastos de funcionamiento de las empresas.

                      </p>
                      <p class="rightTexto" style="margin-top:25px" align="justify">
                        Nuestro personal operativo, técnico y comercial, cuenta con la capacidad
                        de asesorar, acompañar y satisfacer, las demandas del mercado actual de
                        nuestros clientes en materia de reencauche de llantas y llanta nueva. 
                      </p>
                  </div>
              </article>
          </section>
      </div>
      