<div class="grupo card">
    <div class="marca-producto-goodyear">
        <img class="card-img-goodyear" src="../../../../../assets/img/Tienda/Logos/GOODYEAR.png"
            alt="Card image cap"><br>
        <span class="span">RHS II</span><br>
        <span class="span1">315/80R22.5</span>
    </div>
    <img class="card-img-top" src="../../../../../assets/img/Tienda/Imagen_productos/Goodyear/LLANTA_GOODYEAR.png" alt="Card image cap">
    <br>
    <div class="precio-unidad">
        <span class="unity-price">Precio unidad</span><br>
        <span class="unity-price1">$1.879.000</span><br>
    </div>
</div>