<div class="grupo" id="grupo_direccion" [formGroup]="registroForm">
    <div class="formulario_grupo-input">
        <input class="class-input" type="text" formControlName="direccion" id="direccion" required><span
            class="barra"></span>
        <label for="" class="formulario_label">Direccion</label>
    </div>
    <div class="" *ngIf="direccion.invalid && (direccion.dirty || direccion.touched)">

        <div class="grupo-incorrecto" *ngIf="direccion.errors.required">
            <p class="formulario_input-error alert-danger">La direccion es requerida.</p>
            <i class="formulario_validacion-estado fas fa-times-circle"></i>
        </div>
        <div class="grupo-incorrecto"
            *ngIf="direccion.invalid && (direccion.dirty || direccion.touched) && direccion.errors.pattern">
            <p class="formulario_input-error alert-danger">La direccion solo puede contener letras, 
                numeros y guiones.</p>
            <i class="formulario_validacion-estado fas fa-times-circle"></i>
        </div>

    </div>
    <div class="grupo-correcto" *ngIf="(direccion.valid==true) && (direccion.dirty==true)">
        <i class="formulario_validacion-estado fas fa-check-circle"></i>
    </div>

</div>