<div class="grupo card">
    <div class="marca-producto-aurora">
        <img class="card-img-aurora" src="../../../../../assets/img/Tienda/Logos/AURORA.png"
            alt="Card image cap"><br>
        <span class="span">UR01</span><br>
        <span class="span1">12R22.5</span>
    </div>
    <img class="card-img-top" src="../../../../../assets/img/Tienda/Imagen_productos/Aurora/LLANTA_AURORA.png" alt="Card image cap">
    <br>
    <div class="precio-unidad">
        <span class="unity-price">Precio unidad</span><br>
        <span class="unity-price1">$1.018.000</span><br>
    </div>
</div>