<div class="card">
    <div class="card-body">

        <aside>
            <img rol="presentacion" class="imagen_descrip"
                src={{producto}}>
        </aside>
        <section class="section">
            <article>
                <div class="row text-center">
                    <div class="col-xs-12 col-sd-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="div-descripcion">
                            <img class="card-img-steelmark1"
                                src={{logo}}><br><br>
                            <span class="span2">{{nombre}}</span><br>
                            <span class="span3">{{ancho}}{{perfil}}{{rin}}</span><br><br><br>
                            <p>Llanta radial direccional con capacidad para toda posición y uso en carretera.</p>
                            <br>
                            <div class="precio-unidad">
                                <span class="unity-price">Precio unidad</span><br>
                                <span class="unity-price1">{{precio}}</span><br>
                            </div>
                            <br>
                            <input class="class-input-descripcion text-center" type="number" id="telefono" required
                                value="1">
                            <button class="class-button-agregar-carrito" type="submit">
                                <span _ngcontent-kck-c185="" id="idIconCarrito" aria-hidden="true" class="glyphicon glyphicon-shopping-cart"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </article>
        </section>
    </div>
</div>