<div class="color">
    <br><br>
    <section class="row">
        <article class="col-xs-4 col-sd-4 col-md-4 col-lg-4 col-xl-4">
            <div id="idTipoText" align="center">
                <P><span id="idIconHome2" aria-hidden="true" style="color: black"></span> POLÍTICA DE CALIDAD</P>
                <br>
            </div>
            <div id="idText">
                <p>
                    Garantizar la comercialización y prestación de una amplia gama de productos y 
                    servicios de excelente calidad para el sector automotor e industrial, 
                    que cumpla con los requisitos del mercado y genere la satisfacción de 
                    nuestros clientes y accionistas. Esto, mientras mantenemos un compromiso 
                    permanente con el mejoramiento continuo de la organización y de su personal. 
                </p>
            </div>
        </article>
            
        <article class="col-xs-4 col-sd-4 col-md-4 col-lg-4 col-xl-4">
            <div id="idTipoText" align="center">
                <P><span id="idIconHome2" aria-hidden="true" style="color: black"></span> OBJETIVOS DE CALIDAD</P>
                <br>
            </div>
            <div id="idText">
                <p>
                    1. Mejorar los procesos de la compañía, para garantizar la calidad del servicio y aumentar la eficiencia.
                    <br>2. Satisfacer las necesidades de nuestros clientes y usuarios.
                    <br>3. Capacitar y/o entrenar al personal de Auto-Reencauches para asegurar la calidad del servicio con trabajadores idóneos.

                </p>
            </div>  
        </article>
        <article class="col-xs-4 col-sd-4 col-md-4 col-lg-4 col-xl-4">
            <div id="idTipoText" align="center">
                <P style="margin-right: 15%;"><span id="idIconHome2" aria-hidden="true" style="color: black"></span> COMPROMISO DE CALIDAD</P>
                <br>
            </div>
            <div id="idText" style="margin-right: 9%">
                <p>
                    En Auto-Reencauche la calidad es nuestra prioridad, un compromiso de todos. Por eso, 
                    garantizamos procesos de mejoramiento continuo de nuestros productos y servicios, 
                    y trabajamos por el desarrollo profesional constante de nuestro personal.
                </p>
            </div>  
        </article>
    </section>
    <br>  
</div> 