<div class="grupo" id="grupo_telefono" [formGroup]="registroForm">
    <div class="formulario_grupo-input">
        <input class="class-input" type="text" formControlName="telefono" id="telefono" required><span
            class="barra"></span>
        <label for="" class="formulario_label">Telefono</label>
    </div>
    <div class="" *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)">

        <div class="grupo-incorrecto" *ngIf="telefono.errors.required">
            <p class="formulario_input-error alert-danger">El telefono es requerido.</p>
            <i class="formulario_validacion-estado fas fa-times-circle"></i>
        </div>
        <div class="grupo-incorrecto"
            *ngIf="telefono.invalid && (telefono.dirty || telefono.touched) && telefono.errors.pattern">
            <p class="formulario_input-error alert-danger">El numero de telefono solo puede contener 10 numeros.
            </p>
            <i class="formulario_validacion-estado fas fa-times-circle"></i>
        </div>

    </div>
    <div class="grupo-correcto" *ngIf="(telefono.valid==true) && (telefono.dirty==true)">
        <i class="formulario_validacion-estado fas fa-check-circle"></i>
    </div>
</div>