<div class="table-responsive-xl">
    <div id="idDiv">
        <form class="formulario_buscar" name="form1" #form="ngForm" id="formulario_buscar">
            <div class="grupo" id="grupo_cedula">
                <div class="formulario_grupo-input">
                    <input class="class-input-buscar" type="text" [(ngModel)]="searchKey" name="buscar"
                        autocomplete="off" (keyup)="applyFilter()" required>
                    <label for="" class="formulario_label">Buscar</label>
                    <button class="btn btn-primary btn-limpiar" type="submit" aria-label="Clear"
                        (click)="onSearchClear()">LIMPIAR</button>
                </div>
            </div>
        </form>
    </div>
    <br>
    <div class="mat-elevation-z8">
        <table mat-table class="full-width-table" [dataSource]="listData" matSort>

            <ng-container matColumnDef="no">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>No.</th>
                <td mat-cell *matCellDef="let it = index">{{it+1}}</td>
            </ng-container>

            <ng-container matColumnDef="nit" id="nit">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Nit</th>
                <td mat-cell *matCellDef="let row">{{row.nit}}</td>
            </ng-container>

            <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
                <td mat-cell *matCellDef="let row">{{row.nombre}}</td>
            </ng-container>

            <ng-container matColumnDef="telefono">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Telefono</th>
                <td mat-cell *matCellDef="let row">{{row.telefono}}</td>
            </ng-container>

            <ng-container matColumnDef="direccion">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Direccion</th>
                <td mat-cell *matCellDef="let row">{{row.direccion}}</td>
            </ng-container>

            <ng-container matColumnDef="actualizar">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">Actualizar</th>
                <td mat-cell *matCellDef="let row">
                    <button class="btn btn-outline-warning" (click)="enviarDatos(row)"><i class="fas fa-edit"></i>
                        Actualizar</button>
                </td>
            </ng-container>

            <ng-container matColumnDef="eliminar">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">Eliminar</th>
                <td mat-cell *matCellDef="let row"><button class="btn btn-outline-danger" (click)="eliminar(row)"><i
                            class="fas fa-trash"></i> Eliminar</button></td>
            </ng-container>
            <ng-container matColumnDef="loading">
                <mat-footer-cell *matFooterCellDef colspan="7" style="right: 5%;">
                    <h3> Cargando datos... </h3>
                </mat-footer-cell>
            </ng-container>
            <ng-container matColumnDef="noData">
                <mat-footer-cell *matFooterCellDef colspan="7" style="left: 5%;">
                    <h3>No hay datos disponible.</h3>
                </mat-footer-cell>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':listData!=null}"></mat-footer-row>
            <mat-footer-row *matFooterRowDef="['noData']"
                [ngClass]="{'hide':!(listData!=null && listData.data.length==0)}"></mat-footer-row>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
    </div>
</div>
<br>
<!--<div class="table-responsive-xl">
    <table class="table table-dark tableProv text-center">
        <thead class="thead-info">
            <tr class="text-center">
                <th scope="col">Id</th>
                <th scope="col">Nit</th>
                <th scope="col">Nombre</th>
                <th scope="col">Telefono</th>
                <th scope="col">Direccion</th>
                <th scope="col">Actualizar</th>
                <th scope="col">Eliminar</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let proveedor of Vprov.proveedores" class="text-center">
                <td>{{proveedor.id}}</td>
                <td>{{proveedor.nit}}</td>
                <td>{{proveedor.nombre}}</td>
                <td>{{proveedor.telefono}}</td>
                <td>{{proveedor.direccion}}</td>
                <td><button class="btn btn-outline-warning" (click)="enviarDatos(proveedor)"><i class="fas fa-edit"></i>
                        Actualizar</button></td>
                <th><button class="btn btn-outline-danger active" (click)="eliminar(proveedor)"><i
                            class="fas fa-trash"></i> Eliminar</button></th>
            </tr>
        </tbody>
    </table>
</div> -->
<div class="" *ngIf="Vprov.proveedor">
    <app-actualizar-proveedores [registroForm]="registroForm" [Vprov]="Vprov" (envioProveedores)="envioProveedor($event)"></app-actualizar-proveedores>
</div>