<div class="grupo card" [routerLink]="" (click)="descripcionProd()">
    <div class="marca-producto-steelmark">
        <img class="card-img-steelmark" src="{{logo}}"
            alt="Card image cap"><br>
        <span class="span">{{nombre}}</span><br>
        <span class="span1">{{ancho}}{{perfil}}{{rin}}</span>
    </div>
    <img class="card-img-top" src={{producto}} alt="Card image cap">
    <br>
    <div class="precio-unidad">
        <span class="unity-price">Precio unidad</span><br>
        <span class="unity-price1">{{precio}}</span><br>
    </div>
</div>