<div class="grupo" id="grupo_nombre" [formGroup]="registroForm">

    <div class="formulario_grupo-input">
        <input class="class-input" type="text" formControlName="peso_prod" id="peso_prod" required><span
            class="barra"></span>
        <label for="" class="formulario_label">Peso</label>
    </div>
    <div class="" *ngIf="peso_prod.invalid && (peso_prod.dirty || peso_prod.touched)">

        <div class="grupo-incorrecto" *ngIf="peso_prod.errors.required">
            <p class="formulario_input-error alert-danger">El peso del producto es requerido.</p>
            <i class="formulario_validacion-estado fas fa-times-circle"></i>
        </div>
        <div class="grupo-incorrecto"
            *ngIf="peso_prod.invalid && (peso_prod.dirty || peso_prod.touched) && peso_prod.errors.pattern">
            <p class="formulario_input-error alert-danger">El peso solo puede contener numeros, su rango esta 1 y 15 digitos.</p>
            <i class="formulario_validacion-estado fas fa-times-circle"></i>
        </div>

    </div>
    <div class="grupo-correcto" *ngIf="(peso_prod.valid==true) && (peso_prod.dirty==true)">
        <i class="formulario_validacion-estado fas fa-check-circle"></i>
    </div>

</div>