<div class="grupo" id="grupo_nombre" [formGroup]="registroForm">

    <div class="formulario_grupo-input">
        <input class="class-input" type="text" formControlName="cantidad_ex_prod" id="cantidad_ex_prod" required><span
            class="barra"></span>
        <label for="" class="formulario_label">Cantidad</label>
    </div>
    <div class="" *ngIf="cantidad_ex_prod.invalid && (cantidad_ex_prod.dirty || cantidad_ex_prod.touched)">

        <div class="grupo-incorrecto" *ngIf="cantidad_ex_prod.errors.required">
            <p class="formulario_input-error alert-danger">La cantidad del producto es requerido.</p>
            <i class="formulario_validacion-estado fas fa-times-circle"></i>
        </div>
        <div class="grupo-incorrecto"
            *ngIf="cantidad_ex_prod.invalid && (cantidad_ex_prod.dirty || cantidad_ex_prod.touched) && cantidad_ex_prod.errors.pattern">
            <p class="formulario_input-error alert-danger">La cantidad solo puede contener numeros, su rango esta 1 y 15 digitos.</p>
            <i class="formulario_validacion-estado fas fa-times-circle"></i>
        </div>

    </div>
    <div class="grupo-correcto" *ngIf="(cantidad_ex_prod.valid==true) && (cantidad_ex_prod.dirty==true)">
        <i class="formulario_validacion-estado fas fa-check-circle"></i>
    </div>

</div>