<div id="idDiv">
    <form [formGroup]="registroForm" (ngSubmit)="onUpdate()" class="formulario" id="formulario">
        <div class="f-window">
            <i class="fas fa-window-close f-close" type="btn" (click)="cerrarFormulario()"></i>
        </div>
        <!--<i class="fas fa-window-close f-window" (click)="cerrarFormulario()"></i>-->
        <br>
        <h4 class="formulario_h4-formulario-registro">ACTUALIZAR CLIENTE</h4>

        <app-formulario-grupo-nombre [registroForm]="registroForm" [nombre]="nombre"></app-formulario-grupo-nombre>
        <app-formulario-grupo-apellido [registroForm]="registroForm" [apellido]="apellido">
        </app-formulario-grupo-apellido>
        <app-formulario-grupo-cedula [registroForm]="registroForm" [cedula]="cedula"></app-formulario-grupo-cedula>
        <app-formulario-grupo-telefono [registroForm]="registroForm" [telefono]="telefono">
        </app-formulario-grupo-telefono>
        <app-formulario-grupo-email [registroForm]="registroForm" [email]="email"></app-formulario-grupo-email>
        <app-formulario-grupo-usuario [registroForm]="registroForm" [usuario]="usuario"></app-formulario-grupo-usuario>
        <app-formulario-grupo-password [registroForm]="registroForm" [password]="password">
        </app-formulario-grupo-password>
        <app-formulario-grupo-repeat-password [registroForm]="registroForm" [repeat_password]="repeat_password"
            [password]="password"></app-formulario-grupo-repeat-password>


        <div class="grupo formulario-mensaje" id="formulario-mensaje" *ngIf="validarMensaje() === 'FALSE'">
            <p><i class="fas fa-exclamation-triangle"></i><b> Error:</b>
                {{mensajeV}}</p>
        </div>
        <div class="grupo formulario-mensaje-exitoso" id="formulario-mensaje" *ngIf="validarMensaje() === 'TRUE'">
            <p class="formulario_mensaje-exitoso" id="formulario_mensaje-exitoso">{{mensajeV}}</p>
        </div>
        <div class="grupo formulario_grupo-btn-enviar">
            <button class="class-button-registrar" type="submit">Actualizar</button>
        </div>
    </form>
</div>