<div>
    <div class="color">
        <br>
        <section class="row">
            
            <article class="col-xs-6 col-sd-6 col-md-6 col-lg-6 col-xl-6">
                <div id="idTipoText" align="center">
                    <P><span id="idIconHome2" aria-hidden="true" style="color: black"></span> VISION</P>
                    <br>
                </div>
                <div id="idText">
                    <p>
                        Para 2025, Auto-Reencauches, será reconocida como una organización en expansión, 
                        rentable, confiable, eficiente e innovadora, generando soluciones integrales en llantas, 
                        accesorios y servicios para todos nuestros clientes, de la mano de un equipo de trabajo 
                        competente, comprometido y en un ambiente laboral respetuoso, retador, pero sobretodo feliz.
                    </p>
                </div>  
            </article>
            <article class="col-xs-6 col-sd-6 col-md-6 col-lg-6 col-xl-6">
                <div id="idTipoText" align="center">
                    <P><span id="idIconHome2" aria-hidden="true" style="color: black"></span> MISION</P>
                    <br>
                </div>
                <div id="idText" style="margin-right: 7%">
                    <p>
                        Suministrar a los sectores industrial, agrícola, minero, de infraestructura y 
                        del transporte en general, soluciones integrales para la operación eficiente en 
                        todo lo relacionado con sus llanta.
                    </p>
                </div>  
            </article>            
        </section>
        <br/>
    </div>
</div>
